workflows/comot wa group.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get group info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get group info": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek duplikate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Cek duplikate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "voucher": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "laravel": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T15:21:05.929Z",
  "id": "HMWA5rhGHSB4qW5C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "comot wa group",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "611f1ad7-0dee-492a-839d-0b7fff10d400",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        744
      ],
      "id": "c1c4f55c-b9af-46d6-a2e6-463fb706d8fe",
      "name": "Webhook",
      "webhookId": "611f1ad7-0dee-492a-839d-0b7fff10d400"
    },
    {
      "parameters": {
        "resource": "group",
        "operation": "getGroupInfo",
        "groupId": "={{ $json.body.chat_id }}@g.us"
      },
      "type": "@aldinokemal2104/n8n-nodes-gowa.gowa",
      "typeVersion": 1,
      "position": [
        80,
        744
      ],
      "id": "9c507228-8c0b-4a34-8159-f6fb61ca0313",
      "name": "Get group info",
      "retryOnFail": true,
      "credentials": {
        "goWhatsappApi": {
          "id": "DQPon2WBwUAHNnHD",
          "name": "Kailani"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        744
      ],
      "id": "d01d7598-de97-41b1-9e52-2abc0dba0644",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Code Node JavaScript\nconst participants = $json.results.Participants;\n\n// Loop melalui semua participants dan format data\nconst memberRecords = participants.map((participant, index) => {\n  return {\n    group_jid: $json.results.JID,\n    group_name: $json.results.Name,\n    member_jid: participant.JID,\n    phone_number: participant.PhoneNumber,\n    lid: participant.LID,\n    is_admin: participant.IsAdmin,\n    is_super_admin: participant.IsSuperAdmin,\n    display_name: participant.DisplayName || '',\n    record_index: index,\n    collected_at: new Date().toISOString()\n  };\n});\n\n// Return array of objects untuk database insertion\nreturn memberRecords;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        744
      ],
      "id": "92d4c5b0-0aaa-4b47-b5ca-2a711bcaaa67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "number_wa",
          "mode": "list",
          "cachedResultName": "number_wa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "no_wa",
              "value": "={{ $('Loop Over Items').item.json.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1424,
        816
      ],
      "id": "187aa784-0e0a-45fa-9fe4-f1866314a927",
      "name": "Insert rows in a table1",
      "credentials": {
        "mySql": {
          "id": "Zu6AG4J3BZFPMNxP",
          "name": "bot_gowa_personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d2e7a34-0225-45c8-8cfe-b61f0b9ad301",
              "leftValue": "={{ $('Edit Fields').item.json.phone_number }}",
              "rightValue": "={{ $json.no_wa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        744
      ],
      "id": "d3de5d4f-126a-4006-b436-066110b51464",
      "name": "Cek duplikate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2aa420e-a3bd-4d3c-aaf3-738509e42022",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        744
      ],
      "id": "49ee81f1-20fa-4dc3-b9d0-96a32e3bb3af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "number_wa",
          "mode": "list",
          "cachedResultName": "number_wa"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "no_wa",
              "value": "={{ $json.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        976,
        672
      ],
      "id": "ea399547-521d-4174-a144-8d024f99a283",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "Zu6AG4J3BZFPMNxP",
          "name": "bot_gowa_personal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94b439dc-bb1f-4a59-ab39-6264048d47af",
              "name": "aman",
              "value": "aman",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        480
      ],
      "id": "cf6e47e1-76a2-433b-863d-26e9236ee17e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        1592
      ],
      "id": "8c31bbc7-c63e-4bdb-b762-89c70cbf0a89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aBHjrzSTvf9MbwMC",
          "name": "AlwanIbrahim142"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "selalu samakan nilai amount dengan price"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        200,
        1368
      ],
      "id": "8e820f94-2ab2-48d4-b22a-974d6ab29004",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        1368
      ],
      "id": "afc47796-4ccf-43da-959c-4a956083860d",
      "name": "When chat message received",
      "webhookId": "b2e25726-4c5d-4837-b49e-5371e7b53c89"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        1592
      ],
      "id": "fce10f12-6b14-4497-9fb2-aca1a50440de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "=https://api.tokovoucher.net/produk/code",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "member_code",
              "value": "M250927WHJV2295ID"
            },
            {
              "name": "signature",
              "value": "fbd8ec8e5f4f97a3df145be3de29862a"
            },
            {
              "name": "kode",
              "value": "FF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        336,
        1592
      ],
      "id": "ff4c6290-56c7-437e-9468-87c31f1febfe",
      "name": "voucher"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tripay.co.id/api-sandbox/transaction/create",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer DEV-zggTtPraDOJ1Nl9qvBxKygPkFfX5GQ2RIYOXLZpk\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"method\": \"QRIS\",\n  \"merchant_ref\": \"T38800\",\n  \"amount\": 60000,\n  \"customer_name\": \"{{ $json.body.email }}\",\n  \"customer_email\": \"{{ $json.body.email }}\",\n  \"customer_phone\": \"081234202356\",\n  \"order_items\": [\n    {\n      \"sku\": \"CP001\",\n      \"name\": \"CapCut Premium\",\n      \"price\": 60000,\n      \"quantity\": 1\n    }\n  ],\n  \"callback_url\": \"https://n8n.yourdomain.com/webhook/tripay-callback\",\n  \"return_url\": \"https://yourfrontend.com/payment-success\",\n  \"expired_time\": 1736467200,\n  \"signature\": \"978f2049bee4732db4218c77ac79a2464188362bbe4361ef3ede2da7e8ae704c\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        1040
      ],
      "id": "f3569313-cc12-49e7-8155-9e35c8c2983c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://laravelsatu.vaultsy.online/api/transaction/create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"method\": \"QRIS\",\n  \"merchant_ref\": \"ORDER123\",\n  \"amount\": {{ $fromAI(\"amount\") }},\n  \"customer_name\": \"{{ $fromAI(\"nama\") }}\",\n  \"customer_email\": \"budi@example.com\",\n  \"customer_phone\": \"08123456789\",\n  \"order_items\": [\n    {\n      \"sku\": \"SKU-1\",\n      \"name\": \"Produk Test\",\n      \"price\": {{ $fromAI(\"price\") }},\n      \"quantity\": 1\n    }\n  ],\n  \"return_url\": \"https://domainmu.com/return\",\n  \"callback_url\": \"https://domainmu.com/callback\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        464,
        1592
      ],
      "id": "8c86c3b4-66b0-40da-b216-7bfb2f7eb8b6",
      "name": "laravel"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-22T15:21:05.947Z",
      "createdAt": "2025-09-22T15:21:05.947Z",
      "role": "workflow:owner",
      "workflowId": "HMWA5rhGHSB4qW5C",
      "projectId": "0nz33CIKfd8yNGpK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-29T06:37:48.000Z",
  "versionId": "31300d39-8e88-4e6e-aa8e-f99e46edf0e5"
}