workflows/My workflow 3.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T04:57:46.390Z",
  "id": "wlo1DGMRS9c60AvZ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3629b88c=",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d8ded1e2-8075-44b8-b89a-dec528bafe19",
      "name": "Webhook",
      "webhookId": "3629b88c-aec7-448c-8294-65c691d5cb95"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "PAID",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "99fa89ff-1522-4885-8fe6-e697e9611e5f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d705f067-3ae2-448a-a05f-fe33bcae7e3a",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "tidak",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        144,
        -80
      ],
      "id": "b13efcc4-3411-4ecd-8f0b-9dc39c4dcd03",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://413aafc75323.ngrok-free.app/api/wallet/deposit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"method\": \"qris\",\n  \"amount\": 50000\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -80
      ],
      "id": "ac589901-81aa-4616-9a95-d80619e2c9ab",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "wtB1hxltZ0odjvfi",
          "name": "Bearer Auth account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-09T04:57:46.398Z",
      "updatedAt": "2025-09-09T04:57:46.398Z",
      "role": "workflow:owner",
      "workflowId": "wlo1DGMRS9c60AvZ",
      "projectId": "0nz33CIKfd8yNGpK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T13:33:24.000Z",
  "versionId": "ac894499-26d2-4b02-a9de-6b33b23eea84"
}