workflows/web portofolio client otomatis.json
{
  "active": false,
  "connections": {
    "HTML1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T02:53:07.017Z",
  "id": "B9D6xsyvZIdEr4H0",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "web portofolio client otomatis",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Professional Portfolio Template</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script>\n        tailwind.config = {\n            theme: {\n                extend: {\n                    colors: {\n                        'cream': '#f5f1eb',\n                        'beige': '#e8ddd4',\n                        'tan': '#d4c4a8',\n                        'brown': '#8b7355',\n                        'dark-brown': '#6b5b47'\n                    }\n                }\n            }\n        }\n    </script>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        .gradient-bg {\n            background: linear-gradient(135deg, #f5f1eb 0%, #e8ddd4 100%);\n        }\n\n        .card-hover {\n            transition: all 0.3s ease;\n        }\n\n        .card-hover:hover {\n            transform: translateY(-5px);\n            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);\n        }\n\n        .fade-in {\n            opacity: 0;\n            transform: translateY(20px);\n            animation: fadeIn 0.8s ease forwards;\n        }\n\n        @keyframes fadeIn {\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .slide-in-left {\n            opacity: 0;\n            transform: translateX(-50px);\n            animation: slideInLeft 1s ease forwards;\n        }\n\n        @keyframes slideInLeft {\n            to {\n                opacity: 1;\n                transform: translateX(0);\n            }\n        }\n\n        .slide-in-right {\n            opacity: 0;\n            transform: translateX(50px);\n            animation: slideInRight 1s ease forwards;\n        }\n\n        @keyframes slideInRight {\n            to {\n                opacity: 1;\n                transform: translateX(0);\n            }\n        }\n\n        .btn-primary {\n            @apply bg-black text-white px-8 py-4 rounded-full hover:bg-gray-800 transition-all duration-300 transform hover:scale-105;\n        }\n\n        .btn-secondary {\n            @apply border-2 border-black text-black px-8 py-4 rounded-full hover:bg-black hover:text-white transition-all duration-300 transform hover:scale-105;\n        }\n\n        .form-input {\n            @apply w-full px-4 py-3 rounded-lg border border-gray-300 bg-white text-gray-900 placeholder-gray-500 focus:border-brown focus:ring-2 focus:ring-brown focus:ring-opacity-50 outline-none transition-all duration-300;\n        }\n    </style>\n</head>\n\n<body class=\"font-['Inter'] bg-gray-50\">\n    <!-- Navigation -->\n    <nav class=\"fixed top-0 w-full bg-white/95 backdrop-blur-sm z-50 border-b border-gray-200 shadow-sm\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"flex justify-between items-center py-4\">\n                <div class=\"text-xl font-bold text-black\">Your Name</div>\n                <div class=\"hidden md:flex space-x-8\">\n                    <a href=\"#home\" class=\"text-gray-700 hover:text-brown transition-colors font-medium\">Home</a>\n                    <a href=\"#about\" class=\"text-gray-700 hover:text-brown transition-colors font-medium\">About</a>\n                    <a href=\"#experience\"\n                        class=\"text-gray-700 hover:text-brown transition-colors font-medium\">Experience</a>\n                    <a href=\"#projects\"\n                        class=\"text-gray-700 hover:text-brown transition-colors font-medium\">Projects</a>\n                    <a href=\"#contact\" class=\"text-gray-700 hover:text-brown transition-colors font-medium\">Contact</a>\n                </div>\n                <button id=\"mobile-menu-btn\" class=\"md:hidden p-2\">\n                    <svg class=\"w-6 h-6\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                        <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\"\n                            d=\"M4 6h16M4 12h16M4 18h16\"></path>\n                    </svg>\n                </button>\n            </div>\n        </div>\n        <!-- Mobile Menu -->\n        <div id=\"mobile-menu\" class=\"hidden md:hidden bg-white border-t border-gray-200\">\n            <div class=\"px-4 py-2 space-y-2\">\n                <a href=\"#home\" class=\"block py-3 text-gray-700 hover:text-brown font-medium\">Home</a>\n                <a href=\"#about\" class=\"block py-3 text-gray-700 hover:text-brown font-medium\">About</a>\n                <a href=\"#experience\" class=\"block py-3 text-gray-700 hover:text-brown font-medium\">Experience</a>\n                <a href=\"#projects\" class=\"block py-3 text-gray-700 hover:text-brown font-medium\">Projects</a>\n                <a href=\"#contact\" class=\"block py-3 text-gray-700 hover:text-brown font-medium\">Contact</a>\n            </div>\n        </div>\n    </nav>\n\n    <!-- Hero Section -->\n    <section id=\"home\" class=\"min-h-screen gradient-bg flex items-center pt-16\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full\">\n            <div class=\"grid lg:grid-cols-2 gap-12 items-center\">\n                <!-- Left Content -->\n                <div class=\"slide-in-left\">\n                    <p class=\"text-brown font-medium mb-4\">Hello, I'm</p>\n                    <h1 class=\"text-4xl lg:text-6xl font-bold text-black mb-6 leading-tight\">\n                        YOUR NAME<br>\n                        <span class=\"text-brown\">HERE</span>\n                    </h1>\n                    <h2 class=\"text-xl lg:text-2xl text-gray-700 mb-6 font-medium\">\n                        Your Professional Title\n                    </h2>\n                    <p class=\"text-gray-600 text-lg mb-8 max-w-lg leading-relaxed\">\n                        Brief description of your expertise and what you're passionate about. This should be engaging\n                        and highlight your key strengths.\n                    </p>\n                    <div class=\"flex flex-col sm:flex-row gap-4\">\n                        <!-- Tombol utama -->\n                        <button\n                            class=\"bg-black text-white px-8 py-4 rounded-full font-semibold shadow-lg hover:bg-gray-900 hover:scale-105 transition-transform duration-200\">\n                            View My Work →\n                        </button>\n\n                        <!-- Tombol download -->\n                        <a href=\"/cv.pdf\" download=\"My_Cv.pdf\">\n                            <button\n                                class=\"border-2 border-black text-black px-8 py-4 rounded-full font-semibold shadow-md hover:bg-black hover:text-white hover:scale-105 transition-transform duration-200\">\n                                Download CV\n                            </button>\n                        </a>\n                    </div>\n\n                </div>\n\n                <!-- Right Content -->\n                <div class=\"slide-in-right\">\n                    <div class=\"relative\">\n                        <!-- Profile Image -->\n                        <div class=\"w-80 h-96 bg-gray-200 rounded-2xl mx-auto relative overflow-hidden shadow-2xl\">\n                            <img src=\"https://placehold.co/320x384/d4c4a8/ffffff?text=Your+Photo\" alt=\"Profile Photo\"\n                                class=\"w-full h-full object-cover\">\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- About Section -->\n    <section id=\"about\" class=\"py-20 bg-white\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"grid lg:grid-cols-2 gap-12 items-center\">\n                <div class=\"fade-in\">\n                    <h2 class=\"text-4xl font-bold text-black mb-6\">About Me</h2>\n                    <p class=\"text-gray-700 mb-6 leading-relaxed\">\n                        Write a compelling description about yourself, your background, and what drives you\n                        professionally.\n                        This section should give visitors a good understanding of who you are.\n                    </p>\n                    <p class=\"text-gray-700 mb-8 leading-relaxed\">\n                        Add another paragraph highlighting your achievements, values, or career journey.\n                        Make it personal but professional.\n                    </p>\n\n                    <!-- Contact Info -->\n                    <div class=\"space-y-4 mb-8\">\n                        <div class=\"flex items-center space-x-3\">\n                            <div class=\"w-10 h-10 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-5 h-5 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path d=\"M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z\" />\n                                    <path d=\"M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <p class=\"text-gray-700 font-medium\">your.email@example.com</p>\n                                <p class=\"text-gray-500 text-sm\">Professional Email</p>\n                            </div>\n                        </div>\n                        <div class=\"flex items-center space-x-3\">\n                            <div class=\"w-10 h-10 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-5 h-5 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path\n                                        d=\"M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <p class=\"text-gray-700 font-medium\">+1 (555) 123-4567</p>\n                                <p class=\"text-gray-500 text-sm\">Available for calls</p>\n                            </div>\n                        </div>\n                        <div class=\"flex items-center space-x-3\">\n                            <div class=\"w-10 h-10 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-5 h-5 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path fill-rule=\"evenodd\"\n                                        d=\"M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z\"\n                                        clip-rule=\"evenodd\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <p class=\"text-gray-700 font-medium\">Your City, Country</p>\n                                <p class=\"text-gray-500 text-sm\">Open to relocation</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Education & Skills -->\n                <div class=\"fade-in\" style=\"animation-delay: 0.3s\">\n                    <div class=\"bg-cream rounded-2xl p-8 mb-6\">\n                        <h3 class=\"text-2xl font-bold text-black mb-6\">Education</h3>\n                        <div class=\"space-y-4\">\n                            <div>\n                                <h4 class=\"font-semibold text-black\">Your Degree</h4>\n                                <p class=\"text-brown font-medium\">Your Major/Specialization</p>\n                                <p class=\"text-gray-600\">University Name</p>\n                                <p class=\"text-gray-600\">Year - Year | GPA: X.XX</p>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"bg-beige rounded-2xl p-8\">\n                        <h3 class=\"text-2xl font-bold text-black mb-6\">Certifications</h3>\n                        <div class=\"space-y-3\">\n                            <div class=\"flex justify-between items-center\">\n                                <span class=\"font-medium text-black\">Certification Name</span>\n                                <span class=\"text-brown text-sm\">Organization (Year)</span>\n                            </div>\n                            <div class=\"flex justify-between items-center\">\n                                <span class=\"font-medium text-black\">Another Certification</span>\n                                <span class=\"text-brown text-sm\">Organization (Year)</span>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Skills Section -->\n    <section class=\"py-20 gradient-bg\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"text-center mb-16\">\n                <h2 class=\"text-4xl font-bold text-black mb-4\">Professional Skills</h2>\n                <p class=\"text-gray-600 max-w-2xl mx-auto\">\n                    A comprehensive overview of my technical and soft skills developed through experience and continuous\n                    learning.\n                </p>\n            </div>\n\n            <div class=\"grid md:grid-cols-2 lg:grid-cols-4 gap-8\">\n                <!-- Technical Skills -->\n                <div class=\"bg-white rounded-2xl p-6 card-hover fade-in\">\n                    <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center mb-4\">\n                        <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                            <path\n                                d=\"M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z\" />\n                        </svg>\n                    </div>\n                    <h3 class=\"font-semibold text-black mb-3\">Technical Skills</h3>\n                    <ul class=\"text-gray-600 text-sm space-y-1\">\n                        <li>• Skill 1</li>\n                        <li>• Skill 2</li>\n                        <li>• Skill 3</li>\n                        <li>• Skill 4</li>\n                    </ul>\n                </div>\n\n                <!-- Soft Skills -->\n                <div class=\"bg-white rounded-2xl p-6 card-hover fade-in\" style=\"animation-delay: 0.2s\">\n                    <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center mb-4\">\n                        <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                            <path\n                                d=\"M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3z\" />\n                        </svg>\n                    </div>\n                    <h3 class=\"font-semibold text-black mb-3\">Soft Skills</h3>\n                    <ul class=\"text-gray-600 text-sm space-y-1\">\n                        <li>• Leadership</li>\n                        <li>• Communication</li>\n                        <li>• Problem Solving</li>\n                        <li>• Teamwork</li>\n                        <li>• Creativity</li>\n                    </ul>\n                </div>\n\n                <!-- Tools & Software -->\n                <div class=\"bg-white rounded-2xl p-6 card-hover fade-in\" style=\"animation-delay: 0.4s\">\n                    <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center mb-4\">\n                        <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                            <path fill-rule=\"evenodd\"\n                                d=\"M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z\"\n                                clip-rule=\"evenodd\" />\n                        </svg>\n                    </div>\n                    <h3 class=\"font-semibold text-black mb-3\">Tools & Software</h3>\n                    <ul class=\"text-gray-600 text-sm space-y-1\">\n                        <li>• Tool 1</li>\n                        <li>• Tool 2</li>\n                        <li>• Tool 3</li>\n                        <li>• Tool 4</li>\n                    </ul>\n                </div>\n\n                <!-- Languages -->\n                <div class=\"bg-white rounded-2xl p-6 card-hover fade-in\" style=\"animation-delay: 0.6s\">\n                    <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center mb-4\">\n                        <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                            <path fill-rule=\"evenodd\"\n                                d=\"M7 2a1 1 0 011 1v1h3a1 1 0 110 2H9.578a18.87 18.87 0 01-1.724 4.78c.29.354.596.696.914 1.026a1 1 0 11-1.44 1.389c-.188-.196-.373-.396-.554-.6a19.098 19.098 0 01-3.107 3.567 1 1 0 01-1.334-1.49 17.087 17.087 0 003.13-3.733 18.992 18.992 0 01-1.487-2.494 1 1 0 111.79-.89c.234.47.489.928.764 1.372.417-.934.752-1.913.997-2.927H3a1 1 0 110-2h3V3a1 1 0 011-1z\"\n                                clip-rule=\"evenodd\" />\n                        </svg>\n                    </div>\n                    <h3 class=\"font-semibold text-black mb-3\">Languages</h3>\n                    <ul class=\"text-gray-600 text-sm space-y-1\">\n                        <li>• English (Fluent)</li>\n                        <li>• Spanish (Intermediate)</li>\n                        <li>• French (Basic)</li>\n                    </ul>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Experience Section -->\n    <section id=\"experience\" class=\"py-20 bg-white\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"text-center mb-16\">\n                <h2 class=\"text-4xl font-bold text-black mb-4\">Professional Experience</h2>\n                <p class=\"text-gray-600 max-w-2xl mx-auto\">\n                    My journey through various roles and the impact I've made in each position.\n                </p>\n            </div>\n\n            <div class=\"space-y-8\">\n                <!-- Professional Experience -->\n                <div class=\"bg-cream rounded-2xl p-8 fade-in\">\n                    <h3 class=\"text-2xl font-bold text-black mb-6\">Work Experience</h3>\n\n                    <div class=\"space-y-6\">\n                        <div class=\"border-l-4 border-brown pl-6\">\n                            <div class=\"flex flex-col md:flex-row md:justify-between md:items-start mb-2\">\n                                <h4 class=\"text-xl font-semibold text-black\">Job Title</h4>\n                                <span class=\"text-brown font-medium\">Start Date - End Date</span>\n                            </div>\n                            <p class=\"text-brown font-medium mb-2\">Company Name</p>\n                            <ul class=\"text-gray-700 space-y-1\">\n                                <li>• Key responsibility or achievement</li>\n                                <li>• Another important accomplishment</li>\n                                <li>• Quantifiable result or impact</li>\n                            </ul>\n                        </div>\n\n                        <div class=\"border-l-4 border-brown pl-6\">\n                            <div class=\"flex flex-col md:flex-row md:justify-between md:items-start mb-2\">\n                                <h4 class=\"text-xl font-semibold text-black\">Previous Job Title</h4>\n                                <span class=\"text-brown font-medium\">Start Date - End Date</span>\n                            </div>\n                            <p class=\"text-brown font-medium mb-2\">Previous Company Name</p>\n                            <ul class=\"text-gray-700 space-y-1\">\n                                <li>• Major responsibility or project</li>\n                                <li>• Notable achievement</li>\n                                <li>• Skills developed or impact made</li>\n                            </ul>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Projects Section -->\n    <section id=\"projects\" class=\"py-20 gradient-bg\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"text-center mb-16\">\n                <h2 class=\"text-4xl font-bold text-black mb-4\">Featured Projects</h2>\n                <p class=\"text-gray-600 max-w-2xl mx-auto\">\n                    Showcasing some of my best work and the impact these projects have made.\n                </p>\n            </div>\n\n            <div class=\"grid md:grid-cols-2 gap-8\">\n                <div class=\"bg-white rounded-2xl p-8 card-hover fade-in\">\n                    <div class=\"w-full h-48 bg-gray-200 rounded-xl mb-6 overflow-hidden\">\n                        <img src=\"https://placehold.co/400x200/d4c4a8/ffffff?text=Project+1\" alt=\"Project 1\"\n                            class=\"w-full h-full object-cover\">\n                    </div>\n                    <div class=\"flex justify-between items-start mb-4\">\n                        <h3 class=\"text-2xl font-semibold text-black\">Project Title 1</h3>\n                        <span class=\"text-brown font-medium text-sm\">Year</span>\n                    </div>\n                    <p class=\"text-brown font-medium mb-3\">Your Role</p>\n                    <p class=\"text-gray-600 mb-4\">Brief project description explaining what it was about and your\n                        contribution.</p>\n                    <ul class=\"text-gray-700 space-y-2\">\n                        <li>• Key achievement or feature</li>\n                        <li>• Technology or method used</li>\n                        <li>• Impact or result achieved</li>\n                    </ul>\n                </div>\n\n                <div class=\"bg-white rounded-2xl p-8 card-hover fade-in\" style=\"animation-delay: 0.3s\">\n                    <div class=\"w-full h-48 bg-gray-200 rounded-xl mb-6 overflow-hidden\">\n                        <img src=\"https://placehold.co/400x200/d4c4a8/ffffff?text=Project+2\" alt=\"Project 2\"\n                            class=\"w-full h-full object-cover\">\n                    </div>\n                    <div class=\"flex justify-between items-start mb-4\">\n                        <h3 class=\"text-2xl font-semibold text-black\">Project Title 2</h3>\n                        <span class=\"text-brown font-medium text-sm\">Year</span>\n                    </div>\n                    <p class=\"text-brown font-medium mb-3\">Your Role</p>\n                    <p class=\"text-gray-600 mb-4\">Brief project description explaining what it was about and your\n                        contribution.</p>\n                    <ul class=\"text-gray-700 space-y-2\">\n                        <li>• Key achievement or feature</li>\n                        <li>• Technology or method used</li>\n                        <li>• Impact or result achieved</li>\n                    </ul>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Contact Section -->\n    <section id=\"contact\" class=\"py-20 bg-white\">\n        <div class=\"max-w-4xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"text-center mb-12\">\n                <h2 class=\"text-4xl font-bold text-black mb-6\">Let's Connect</h2>\n                <p class=\"text-gray-700 mb-4 max-w-2xl mx-auto text-lg\">\n                    I'm always open to discussing new opportunities, collaborations, or just having a conversation about\n                    our shared interests.\n                </p>\n                <p class=\"text-gray-600 max-w-2xl mx-auto\">\n                    Whether you have a project in mind, want to collaborate, or simply want to say hello, I'd love to\n                    hear from you.\n                </p>\n            </div>\n\n            <div class=\"grid md:grid-cols-2 gap-12\">\n                <!-- Contact Info -->\n                <div>\n                    <h3 class=\"text-2xl font-bold text-black mb-6\">Get in Touch</h3>\n                    <div class=\"space-y-4 mb-8\">\n                        <div class=\"flex items-center space-x-4\">\n                            <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path d=\"M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z\" />\n                                    <path d=\"M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <h4 class=\"font-semibold text-black\">Email</h4>\n                                <p class=\"text-gray-600\">your.email@example.com</p>\n                            </div>\n                        </div>\n\n                        <div class=\"flex items-center space-x-4\">\n                            <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path\n                                        d=\"M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <h4 class=\"font-semibold text-black\">Phone</h4>\n                                <p class=\"text-gray-600\">+1 (555) 123-4567</p>\n                            </div>\n                        </div>\n\n                        <div class=\"flex items-center space-x-4\">\n                            <div class=\"w-12 h-12 bg-cream rounded-full flex items-center justify-center\">\n                                <svg class=\"w-6 h-6 text-brown\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                    <path fill-rule=\"evenodd\"\n                                        d=\"M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z\"\n                                        clip-rule=\"evenodd\" />\n                                </svg>\n                            </div>\n                            <div>\n                                <h4 class=\"font-semibold text-black\">Location</h4>\n                                <p class=\"text-gray-600\">Your City, Country</p>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"flex flex-col sm:flex-row gap-4\">\n                        <a href=\"mailto:your.email@example.com\" class=\"btn-primary text-center\">\n                            Send Email\n                        </a>\n                        <a href=\"https://linkedin.com/in/yourprofile\" target=\"_blank\" class=\"btn-secondary text-center\">\n                            LinkedIn\n                        </a>\n                        <a href=\"cv.pdf\" download=\"Your_Name_CV.pdf\" class=\"btn-secondary text-center\">\n                            Download CV\n                        </a>\n                    </div>\n                </div>\n\n                <!-- Contact Form -->\n            <div>\n                <h3 class=\"text-2xl font-bold text-black mb-6\">Send Message</h3>\n\n                <!-- FormSubmit.co form -->\n                <form id=\"contact-form\" class=\"space-y-6\" action=\"https://formsubmit.co/alwanibrahim142@gmail.com\" method=\"POST\">\n\n                    <!-- Tambahan untuk redirect atau custom message -->\n                    <input type=\"hidden\" name=\"_captcha\" value=\"false\"> <!-- matikan captcha jika mau -->\n\n                    <!-- Full Name -->\n                    <div class=\"relative\">\n                        <label for=\"name\" class=\"block text-sm font-medium text-gray-700 mb-2\">Full Name</label>\n                        <input type=\"text\" id=\"name\" name=\"name\" required\n                            class=\"w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 focus:border-brown focus:ring-2 focus:ring-brown/40 outline-none transition-all duration-200 shadow-sm\"\n                            placeholder=\"Enter your full name\">\n                        <svg class=\"w-5 h-5 text-gray-400 absolute left-4 top-11 transform -translate-y-1/2\" fill=\"currentColor\"\n                            viewBox=\"0 0 20 20\">\n                            <path fill-rule=\"evenodd\"\n                                d=\"M10 2a6 6 0 00-6 6v1a6 6 0 0012 0V8a6 6 0 00-6-6zm-4 7a4 4 0 118 0v1a4 4 0 11-8 0V9z\"\n                                clip-rule=\"evenodd\" />\n                        </svg>\n                    </div>\n\n                    <!-- Email -->\n                    <div class=\"relative\">\n                        <label for=\"email\" class=\"block text-sm font-medium text-gray-700 mb-2\">Email Address</label>\n                        <input type=\"email\" id=\"email\" name=\"email\" required\n                            class=\"w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 focus:border-brown focus:ring-2 focus:ring-brown/40 outline-none transition-all duration-200 shadow-sm\"\n                            placeholder=\"Enter your email address\">\n                        <svg class=\"w-5 h-5 text-gray-400 absolute left-4 top-11 transform -translate-y-1/2\" fill=\"currentColor\"\n                            viewBox=\"0 0 20 20\">\n                            <path d=\"M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z\" />\n                            <path d=\"M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z\" />\n                        </svg>\n                    </div>\n\n                    <!-- Subject -->\n                    <div class=\"relative\">\n                        <label for=\"subject\" class=\"block text-sm font-medium text-gray-700 mb-2\">Subject</label>\n                        <input type=\"text\" id=\"subject\" name=\"subject\" required\n                            class=\"w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 focus:border-brown focus:ring-2 focus:ring-brown/40 outline-none transition-all duration-200 shadow-sm\"\n                            placeholder=\"What's this about?\">\n                        <svg class=\"w-5 h-5 text-gray-400 absolute left-4 top-11 transform -translate-y-1/2\" fill=\"currentColor\"\n                            viewBox=\"0 0 20 20\">\n                            <path fill-rule=\"evenodd\"\n                                d=\"M5 6a2 2 0 012-2h6a2 2 0 012 2v1H5V6zm0 3h10v5a2 2 0 01-2 2H7a2 2 0 01-2-2V9z\"\n                                clip-rule=\"evenodd\" />\n                        </svg>\n                    </div>\n\n                    <!-- Message -->\n                    <div class=\"relative\">\n                        <label for=\"message\" class=\"block text-sm font-medium text-gray-700 mb-2\">Message</label>\n                        <textarea id=\"message\" name=\"message\" rows=\"5\" required\n                            class=\"w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 focus:border-brown focus:ring-2 focus:ring-brown/40 outline-none transition-all duration-200 shadow-sm resize-none\"\n                            placeholder=\"Tell me about your project or just say hello...\"></textarea>\n                        <svg class=\"w-5 h-5 text-gray-400 absolute left-4 top-11 transform -translate-y-1/2\" fill=\"currentColor\"\n                            viewBox=\"0 0 20 20\">\n                            <path fill-rule=\"evenodd\"\n                                d=\"M2 4a2 2 0 012-2h12a2 2 0 012 2v12a2 2 0 01-2 2H4a2 2 0 01-2-2V4zm3 2h10v2H5V6zm0 4h10v6H5v-6z\"\n                                clip-rule=\"evenodd\" />\n                        </svg>\n                    </div>\n\n                    <!-- Button -->\n                    <button type=\"submit\" class=\"w-full py-3 px-6 rounded-xl font-semibold flex items-center justify-center space-x-2\n                  bg-brown text-white shadow-lg hover:bg-brown/90 active:scale-95\n                  transition-all duration-200\">\n                        <span id=\"submit-text\">Send Message</span>\n                        <span id=\"loading-text\" class=\"hidden\">Sending...</span>\n                    </button>\n\n                </form>\n\n                <!-- Success/Error Messages -->\n                <div id=\"form-messages\" class=\"mt-4 hidden\">\n                    <div id=\"success-message\"\n                        class=\"hidden bg-green-50 border border-green-200 text-green-800 px-4 py-3 rounded-lg\">\n                        <div class=\"flex\">\n                            <svg class=\"w-5 h-5 text-green-400 mt-0.5 mr-2\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                <path fill-rule=\"evenodd\"\n                                    d=\"M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z\"\n                                    clip-rule=\"evenodd\" />\n                            </svg>\n                            <span>Thank you! Your message has been sent successfully.</span>\n                        </div>\n                    </div>\n\n                    <div id=\"error-message\" class=\"hidden bg-red-50 border border-red-200 text-red-800 px-4 py-3 rounded-lg\">\n                        <div class=\"flex\">\n                            <svg class=\"w-5 h-5 text-red-400 mt-0.5 mr-2\" fill=\"currentColor\" viewBox=\"0 0 20 20\">\n                                <path fill-rule=\"evenodd\"\n                                    d=\"M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z\"\n                                    clip-rule=\"evenodd\" />\n                            </svg>\n                            <span>Sorry, there was an error sending your message. Please try again.</span>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            </div>\n        </div>\n    </section>\n\n\n    <!-- Footer -->\n    <footer class=\"bg-black text-white py-12\">\n        <div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"grid md:grid-cols-3 gap-8\">\n                <div>\n                    <h3 class=\"text-2xl font-bold mb-4\">Your Name</h3>\n                    <p class=\"text-gray-400\">Professional tagline or brief description about what you do and your\n                        passion.</p>\n                </div>\n                <div>\n                    <h4 class=\"font-semibold mb-4\">Quick Links</h4>\n                    <ul class=\"space-y-2 text-gray-400\">\n                        <li><a href=\"#home\" class=\"hover:text-white transition-colors\">Home</a></li>\n                        <li><a href=\"#about\" class=\"hover:text-white transition-colors\">About</a></li>\n                        <li><a href=\"#experience\" class=\"hover:text-white transition-colors\">Experience</a></li>\n                        <li><a href=\"#projects\" class=\"hover:text-white transition-colors\">Projects</a></li>\n                        <li><a href=\"#contact\" class=\"hover:text-white transition-colors\">Contact</a></li>\n                    </ul>\n                </div>\n                <div>\n                    <h4 class=\"font-semibold mb-4\">Connect</h4>\n                    <div class=\"space-y-2 text-gray-400\">\n                        <p>your.email@example.com</p>\n                        <p>+1 (555) 123-4567</p>\n                        <div class=\"flex space-x-4 mt-4\">\n                            <a href=\"#\" class=\"text-gray-400 hover:text-white transition-colors\">\n                                <svg class=\"w-6 h-6\" fill=\"currentColor\" viewBox=\"0 0 24 24\">\n                                    <path\n                                        d=\"M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z\" />\n                                </svg>\n                            </a>\n                            <a href=\"#\" class=\"text-gray-400 hover:text-white transition-colors\">\n                                <svg class=\"w-6 h-6\" fill=\"currentColor\" viewBox=\"0 0 24 24\">\n                                    <path\n                                        d=\"M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z\" />\n                                </svg>\n                            </a>\n                            <a href=\"#\" class=\"text-gray-400 hover:text-white transition-colors\">\n                                <svg class=\"w-6 h-6\" fill=\"currentColor\" viewBox=\"0 0 24 24\">\n                                    <path\n                                        d=\"M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.174-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.747.097.118.112.22.083.402-.09.353-.293 1.178-.334 1.345-.053.225-.172.271-.402.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.357-.629-2.748-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146C9.57 23.812 10.763 24.009 12.017 24c6.624 0 11.99-5.367 11.99-12.013C24.007 5.367 18.641.001 12.017.001z\" />\n                                </svg>\n                            </a>\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"border-t border-gray-800 mt-8 pt-8 text-center text-gray-400\">\n                <p>&copy; 2024 Your Name. All rights reserved.</p>\n            </div>\n        </div>\n    </footer>\n\n    <script>\n        document.addEventListener(\"DOMContentLoaded\", () => {\n            const form = document.getElementById(\"contact-form\");\n            const submitText = document.getElementById(\"submit-text\");\n            const loadingText = document.getElementById(\"loading-text\");\n            const formMessages = document.getElementById(\"form-messages\");\n            const successMessage = document.getElementById(\"success-message\");\n            const errorMessage = document.getElementById(\"error-message\");\n\n            form.addEventListener(\"submit\", async (e) => {\n                e.preventDefault();\n\n                submitText.classList.add(\"hidden\");\n                loadingText.classList.remove(\"hidden\");\n\n                const formData = new FormData(form);\n\n                try {\n                    const response = await fetch(form.action, {\n                        method: \"POST\",\n                        body: formData,\n                        headers: { \"Accept\": \"application/json\" }\n                    });\n\n                    if (response.ok) {\n                        form.reset();\n                        formMessages.classList.remove(\"hidden\");\n                        successMessage.classList.remove(\"hidden\");\n                        errorMessage.classList.add(\"hidden\");\n                    } else {\n                        throw new Error(\"Form submission failed\");\n                    }\n                } catch (err) {\n                    formMessages.classList.remove(\"hidden\");\n                    errorMessage.classList.remove(\"hidden\");\n                    successMessage.classList.add(\"hidden\");\n                    console.error(err);\n                } finally {\n                    submitText.classList.remove(\"hidden\");\n                    loadingText.classList.add(\"hidden\");\n                }\n            });\n        });\n    </script>\n\n    <script>\n        // Mobile menu toggle\n        const mobileMenuBtn = document.getElementById('mobile-menu-btn');\n        const mobileMenu = document.getElementById('mobile-menu');\n\n        mobileMenuBtn.addEventListener('click', () => {\n            mobileMenu.classList.toggle('hidden');\n        });\n\n        // Smooth scrolling for navigation links\n        document.querySelectorAll('a[href^=\"#\"]').forEach(anchor => {\n            anchor.addEventListener('click', function (e) {\n                e.preventDefault();\n                const target = document.querySelector(this.getAttribute('href'));\n                if (target) {\n                    target.scrollIntoView({\n                        behavior: 'smooth',\n                        block: 'start'\n                    });\n                }\n                // Close mobile menu if open\n                mobileMenu.classList.add('hidden');\n            });\n        });\n\n        // Intersection Observer for animations\n        const observerOptions = {\n            threshold: 0.1,\n            rootMargin: '0px 0px -50px 0px'\n        };\n\n        const observer = new IntersectionObserver((entries) => {\n            entries.forEach(entry => {\n                if (entry.isIntersecting) {\n                    entry.target.style.animationPlayState = 'running';\n                }\n            });\n        }, observerOptions);\n\n        // Observe all elements with animation classes\n        document.querySelectorAll('.fade-in, .slide-in-left, .slide-in-right').forEach(el => {\n            observer.observe(el);\n        });\n\n        // Add scroll-based navbar background\n        window.addEventListener('scroll', () => {\n            const nav = document.querySelector('nav');\n            if (window.scrollY > 100) {\n                nav.classList.add('shadow-lg');\n            } else {\n                nav.classList.remove('shadow-lg');\n            }\n        });\n\n        // Contact form handling\n        const contactForm = document.getElementById('contact-form');\n        const formMessages = document.getElementById('form-messages');\n        const successMessage = document.getElementById('success-message');\n        const errorMessage = document.getElementById('error-message');\n        const submitText = document.getElementById('submit-text');\n        const loadingText = document.getElementById('loading-text');\n\n        contactForm.addEventListener('submit', function (e) {\n            e.preventDefault();\n\n            // Show loading state\n            submitText.classList.add('hidden');\n            loadingText.classList.remove('hidden');\n\n            // Get form data\n            const formData = new FormData(contactForm);\n            const name = formData.get('name');\n            const email = formData.get('email');\n            const subject = formData.get('subject');\n            const message = formData.get('message');\n\n            // Create mailto link (this is a simple approach)\n            const mailtoLink = `mailto:your.email@example.com?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(\n                `Name: ${name}\\nEmail: ${email}\\n\\nMessage:\\n${message}`\n            )}`;\n\n            // Simulate form processing delay\n            setTimeout(() => {\n                // Reset button state\n                submitText.classList.remove('hidden');\n                loadingText.classList.add('hidden');\n\n                // Show success message\n                formMessages.classList.remove('hidden');\n                successMessage.classList.remove('hidden');\n                errorMessage.classList.add('hidden');\n\n                // Open mailto link\n                window.location.href = mailtoLink;\n\n                // Reset form\n                contactForm.reset();\n\n                // Hide success message after 5 seconds\n                setTimeout(() => {\n                    formMessages.classList.add('hidden');\n                    successMessage.classList.add('hidden');\n                }, 5000);\n\n            }, 1000);\n        });\n\n        // Form validation\n        const inputs = document.querySelectorAll('.form-input');\n        inputs.forEach(input => {\n            input.addEventListener('blur', function () {\n                if (this.value.trim() === '' && this.hasAttribute('required')) {\n                    this.classList.add('border-red-500');\n                    this.classList.remove('border-gray-300');\n                } else {\n                    this.classList.remove('border-red-500');\n                    this.classList.add('border-gray-300');\n                }\n            });\n\n            input.addEventListener('input', function () {\n                if (this.classList.contains('border-red-500') && this.value.trim() !== '') {\n                    this.classList.remove('border-red-500');\n                    this.classList.add('border-gray-300');\n                }\n            });\n        });\n    </script>\n</body>\n\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "58e08f61-5290-4779-991d-1cf0369d778a",
      "name": "HTML1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.html }}",
        "options": {
          "systemMessage": "ganti kode html tersebut dengan data saya sisa nya dengan data dummmy, langsung buat kan finish .html nya"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "24c2367c-34ca-4876-8f98-1e16e8f3d189",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "756afa1f-55b0-473c-8722-34bcbe5c84c3",
      "name": "When chat message received",
      "webhookId": "e2663641-7dd1-4ed8-9416-383d17bb7a18"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "id": "54599485-2c91-4bf4-92d4-b80d8f6abdf4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aBHjrzSTvf9MbwMC",
          "name": "AlwanIbrahim142"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "ed7de9c1-3da5-4ad9-95f3-cafc1daa7bec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90229484-24fc-43c7-9e02-4fd815ab2bde",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        0
      ],
      "id": "a7e54a01-2239-4254-a262-069e088e2973",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-16T02:53:07.023Z",
      "updatedAt": "2025-09-16T02:53:07.023Z",
      "role": "workflow:owner",
      "workflowId": "B9D6xsyvZIdEr4H0",
      "projectId": "0nz33CIKfd8yNGpK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T09:08:27.000Z",
  "versionId": "1fad56ad-d75a-4f7c-8edd-a18b42cd7837"
}